body {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  color: #666;
  font-family: 'Varela', sans-serif;
}

.qoin-container {
  min-width: 600px;
  background-color: #FFF;
}

.qoin-container > header.qoin-header {
  position: fixed;
  width: 100%;
  min-width: 600px;
  height: 400px;
  background-image: url("../images/background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
}

.qoin-container > header.qoin-header .header-text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  width: 50%;
  /*sweet spot for header min and max*/
  min-width: 500px;
  max-width: 680px;
}
.qoin-container > header.qoin-header .header-text > h1 {
  margin: 0;
  text-align: center;
  font-size: 6em;
}
.qoin-container > header.qoin-header .header-text > p {
  position: absolute;
  right: -20px;
  margin: -20px 0 0 0;
  font-size: 1.5em;
}

.qoin-container > section.qoin-contact {
  position: relative;
  top: 400px;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}
.qoin-container > section.qoin-contact:before {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: inline-block;
  content: " ";
  height: 110px;
  width: 110px;
  margin: -50px 0 0;
  background-color: #FFF;
  box-sizing: border-box;
  border-radius: 55px 55px 0 0;
  background-image: url("../images/logo.png");
  background-attachment: scroll;
  background-position: center bottom;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -o-background-size: contain;
  background-size: 80px;
}

.qoin-container > section.qoin-contact > article.qoin-about {
  display: block;
  position: relative;
  padding-top: 50px;
  width: 50%;
  min-width: 450px;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.2em;
}

.qoin-container > section.qoin-contact > article.invite-form-container {
  display: none;
  margin: auto;
  width: 100%;
}
.qoin-container > section.qoin-contact > article.invite-form-container.open {
  display: block;
  padding: 5px 0;
  background-color: #ECECEC;
}

.qoin-container > section.qoin-contact > article > form.invite-form  {
  margin: 0 auto;
  display: block;
  position: relative;
  padding: 20px 0 5px;
}

.qoin-container > section.qoin-contact > article > form.invite-form > input {
  border: 2px solid #CDCDCD;
  display: block;
  margin: 8px auto;
  width: 300px;
  height: auto;
  font-size: 1em;
  padding: 10px;
  border-radius: 2px;
}
.qoin-container > section.qoin-contact > article > form.invite-form > input::-webkit-input-placeholder {
  color: #CDCDCD;
}
.qoin-container > section.qoin-contact > article > form.invite-form > input:-moz-placeholder {
  color: #CDCDCD;
}
.qoin-container > section.qoin-contact > article > form.invite-form > input::-moz-placeholder {
  color: #CDCDCD;
}
.qoin-container > section.qoin-contact > article > form.invite-form > input:-ms-input-placeholder {
  color: #CDCDCD;
}

.qoin-container > section.qoin-contact > article > h1 {
  text-align: center;
  color: #333;
  font-size: 1.5em;
  margin-bottom: 5px;
}

.qoin-container > section.qoin-contact > article > button.request-button {
  display: block;
  margin: 30px auto 60px;
}
.qoin-container > section.qoin-contact > article > button.request-button.clicked {
  display: none;
}

.qoin-container > section.qoin-contact > article > button.request-button,
.qoin-container > section.qoin-contact > article > form.invite-form button.invite-form-submit {
  background-color: #FF0000;
  color: #FFF;
  border-radius: 2px;
  padding: 12px 35px;
  border: none;
  font-size: 1em;
}

.qoin-container > section.qoin-contact > article > form.invite-form button.invite-form-submit {
  display: block;
  margin: 15px auto;
}
